.container__about {
    /* background-color: red !important; */
    width: 830px;
    height: 100vh;
}

p {
    padding: 20px 0;
}

a {
    color: rgb(103, 113, 251);
    font-weight: 800;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}