* {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    width: 630px;
    height: 60px;
}

.container__nav {
    position: sticky;
    top: 10px;
    width: min-content;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    background-color: rgba(196, 194, 194, 0.302);
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}

#title__nav {
    font-size: 18px;
    text-align: center;
}
.avatar__navbar {
    border-radius: 100px;
    width: 25px;
}

.avatar__navbar {
    text-decoration: none;
    color: #000;
}

.avatar__navbar:hover {
    color: rgb(103, 113, 251);
}

.link__navbar {
    color: rgb(0, 0, 0);
    text-decoration: none !important;
}

.link__navbar:hover {
    color: rgb(75, 86, 248) !important;
    font-weight: 800;
}