* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#container__article {
    width: 830px;
}

p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 40px 0;
    color: #1F2937;
}

strong {
    font-weight: 700;
}

#span__name_date {
    font-size: 14px;
    color: rgb(165, 164, 164);
}
#title__article {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}


.highlight, pre {
    border-radius: 15px;
}

img {
    border-radius: 10px;
    width: 830px;
}

ol {
    margin: 20px 0;
    padding-left: 30px;
}

ul {
    margin: 20px 0;
    padding-left: 20px;
}

p > img {
    margin: 30px 0 ;
}

a {
    color: rgb(103, 113, 251);
    text-decoration: none !important;
}

a:hover {
    color: rgb(75, 86, 248) !important;
    font-weight: 800;
    text-decoration: underline !important;
}

blockquote > p {
    width: 100%;
    margin: 0;
    color: #4e5155;
    text-align: left ;
}

blockquote {
    padding: 10px;
	background-color: rgba(229, 231, 235, 0.367);
    border-radius: 10px;
    margin: 20px 0;
}

blockquote > p::before {
    content: '📚';
    margin-right: 10px;
    font-size: 20px;
}

h4 {
    margin: 10px 0;
}

em {
    font-style: italic;
}

#warning {
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #694f01;
    margin: 20px 0 !important;
    background-color: #f7d781;
    padding: 20px;
    border-radius: 10px;
}

#warning::before {
    content: '🚨';
    font-size: 20px;
}