* {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
    width: 630px;
    height: 60px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}

#title__nav {
    font-size: 18px;
    text-align: center;
}
.avatar__navbar {
    border-radius: 100px;
    width: 25px;
}

.avatar__navbar {
    text-decoration: none;
    color: #000;
}

.avatar__navbar:hover {
    color: rgb(103, 113, 251);
}

