@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h1 {
    font-size: 1rem;
}

.data-table, .title-article {
    font-size: 14px;
}

.title-table {
    color: rgb(107, 114, 128);
    font-size: 12px;
}

.td-data {
    width: 110px;
}
.data-table {
    color: rgb(107, 114, 128);
    width: 10px;
}

.title-article {
    color: #000;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 1rem;
    width: 100%;
    gap: 210px;
    border-bottom: solid 1px #484747;
    padding-right: 57px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 175px;
    font-size: 12px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
a {
    text-decoration: none;
    color: #000;
}

