<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ "/css/about.css" | relURL }}">
</head>
<body>
    {{ partial "navbar.html" }}
    <main class="container__about">
        <p>
            Sou engenheiro de software com uma carreira sólida na área de tecnologia desde 2021.
            Sou originalmente de São Paulo, Brasil. Devo grande parte da minha carreira à Web e ao código aberto.
            Passei minha adolescência na rua, contrariando as estatísticas dos gênios prodígios que programam desde os 10 anos de idade.
        </p>
        <p>
            Meu primeiro contato com programação foi em 2021, perto de completar 18 anos, quando comprei meu primeiro notebook.
            Depois de ingressar na <a href="https://www.cps.sp.gov.br/etec/">Escola Técnica Estadual (ETEC)</a>, tive meu primeiro contato com a programação, onde aprendi a programar em C, C++, Java e PHP.
            Fiz muitas amizades que levo comigo até hoje e aprendi muito com os professores que tive.
        </p>
        <p>
            Meu primeiro emprego foi em novembro de 2022, onde trabalhei com PHP e <a href="https://tortoisesvn.net/downloads.html">TortoiseSVN</a> na área de sustentação. Eu era o famoso <a href="https://marcelosimonato.com/voce-e-um-profissional-severino/">Severino</a>.
            Usávamos um <strong>framework próprio</strong>, bem difícil de dar manutenção, não existia documentação e o código era bagunçado, famoso <a href="https://gohorse.com.br/extreme-go-horse-xgh/">GO HORSE</a>.
            Logo, minha missão era essa: ao mesmo tempo que entregava as tarefas, também tínhamos a missão de migrar o sistema para GIT, Laravel e Docker,
            seguindo as boas práticas de Clean Code, DDD e TDD.
        <br>
            Fiquei nesse emprego por <strong>1 ano e 6 meses</strong>, onde aprendi muito e me tornei um programador melhor.
        <p>
            Em meio ao tempo que trabalhava, conheci uma comunidade de desenvolvedores 'FODAS', muito seniores, plenos e juniors. No início, éramos apenas 100 pessoas, e 
            com a ajuda do Mano Deivyn, a comunidade cresceu bastante. Hoje, sou dono de um <a href="https//:discord.gg/chorume">Discord do Chorume</a> com mais de 20 mil desenvolvedores.
            Aqui temos de tudo: aulas de programação, aulas de inglês, clube do livro, eventos, desenvolvimento de bots e, claro, muita zueira. Canal do <a href="https://www.youtube.com/@jayp-xgh/videos">Youtube</a>
        </p>
        <p>
            Em 2023, troquei de emprego, onde entrei em uma empresa do setor jurídico, também trabalhando com PHP, porém agora com CakePHP, um ótimo framework.
            Usamos muito jQuery e DataTables; o código também não seguia padrões de desenvolvimento e, por coincidência, temos o objetivo de  migrar para Laravel
            e aplicar padrões de desenvolviment de software.
        </p>
        {{ partial "footer.html" }}
    </main>
</body>
</html>