<blockquote class="twitter-tweet">
  <p lang="pt" dir="ltr">Pow, era melhor o <a
      href="https://twitter.com/AkitaOnRails?ref_src=twsrc%5Etfw">@AkitaOnRails</a> ter feito a live falando de IA pois
    essa live da <a href="https://twitter.com/rinhadebackend?ref_src=twsrc%5Etfw">@rinhadebackend</a> não teve nada, foi
    uma live falando que o resultado vai sair no x. <br><br>Mas mesmo assim, parabéns ao pessoal da rinha, to esperando
    o resultado!!</p>&mdash; jayp-xgh (@jayp_xgh) <a
    href="https://twitter.com/jayp_xgh/status/1768409532076626315?ref_src=twsrc%5Etfw">March 14, 2024</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>